<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Perguntas e Respostas</title>
</head>
<body>
    <h1>Guia Perguntas</h1>
    <hr>
    <h3>Lista de Perguntas</h3>

    <p>Nome: <%= nome %></p>
    <p>Linguaguem Favorita: <%= lang %></p>
    <p>Empresa: <%= empresa %></p>
    <p>Idade: <%= idade %></p>

    <% if(!msg){ %>
        <h3>Isso é uma mensagem de erro</h3>
    <%} else{ %>
        <h3>Sucesso</h3>
    <% } %>

    <% produtos.forEach(produto => { %>
        <p>Nome: <%= produto.nome %> - Preço: <%= produto.preco %></p>
    <% }) %>
</body>
</html>